* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
  background-color: #4f0c17;
  background-image: url(/assets/copa_vino_grande.jpg);
}

header {
  background-color: #73453f;
  color: #fff;
  padding: 0px 0;
}
#navbar_mobile {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}
#navbar_desktop {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #764640;
}
#navbar_desktop img {
  margin-top: 3%;
  width: 140px;
}
#navbar_desktop #home_navbar_desktop {
  margin-top: 17%;
  font-size: 25px;
  font-weight: 600;
}
#navbar_desktop #shop_navbar_desktop {
  margin-top: 15%;
  font-size: 25px;
  font-weight: 600;
}
#navbar_desktop #community_navbar_desktop {
  margin-top: 10%;
  font-size: 25px;
  font-weight: 600;
}
#navbar_desktop #subscription_navbar_desktop {
  margin-top: 10%;
  font-size: 25px;
  font-weight: 600;
}
#navbar_desktop #about_us_navbar_desktop {
  margin-top: 15%;
  font-size: 15px;
  font-weight: 400;
}
#navbar_desktop #help_navbar_desktop {
  margin-top: 38%;
  font-size: 15px;
  font-weight: 400;
}
#navbar_desktop #loginout_navbar_desktop {
  margin-top: 5%;
  font-size: 20px;
  font-weight: 600;
}
#user_navbar_desktop {
  display: flex;
  gap: 35px;
}
#icon_user_navbar_desktop {
  margin-top: 4%;
}
#cart_desktop {
  margin-top: 5%;
}
main {
  padding-top: 40px;
}

h1 {
  font-size: 45px;
}

.login-tittle {
  color: white;
  font-size: 30px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #73453f;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

button {
  background-color: #4f0c17;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

footer {
  background-color: #73453f;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger-menu {
  margin-right: 40px;
  cursor: pointer;
  display: none;
  align-self: center;
}

.tittle-menu-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

#check {
  display: none;
}

@media (max-width: 858px) {
  #navbar_desktop {
    display: none;
  }
  #navbar_mobile #menu {
    margin-left: -30%;
  }
  #navbar_mobile {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #764640;
  }
  #navbar_mobile img {
    width: 20%;
    margin-left: 35%;
    margin-top: 1.5%;
  }
  #navbar_mobile #left_row {
    margin-left: 50%;
  }
  #navbar_mobile #cart {
    margin-left: -100%;
    margin-top: -5%;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
